	* {
		font-family: "微软雅黑";
	}

	.user_fk {
		border-radius: 6px;
		height: 150px;
		background: rgba(0, 0, 255, 0.0);
		-webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
		-moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
		box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.75);
	}

	a:hover {
		color: white;
		text-decoration: none;
	}

	a {
		color: white;
	}

	#line div {
		height: 20px;
		float: left;
	}

	.line1 {
		width: 40%;
		position: relative;
		bottom: 9px;
	}

	#line2 {
		width: 20%;
		text-align: center;
		line-height: 20px;
	}

	.modal-backdrop {
		background: #CCC;
	}

	.modal-content {
		width: 80%;
		left: 10%;
		top: 150px;
		color: black;
		background: rgb(232, 228, 228)
	}
