<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>First page</title>
	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
	<link href="//cdn.bootcss.com/Swiper/3.3.1/css/swiper.min.css" rel="stylesheet">
	<link rel="stylesheet" href="index.css">
	<style>
		swiper-slide {
			height: 10px
		}

		swiper-slide-active {
			height: auto
		}

		#search {
			width: 75px;
			height: 26px;
			background: #dcdbdb;
			position: relative;
			left: 24px;
			top: 8px;
			border-radius: 28px;
			font-size: 5px;
			line-height: 26px;
		}

		#searchPage {
			position: fixed;
			top: 0;
			bottom: 0;
			background: gray;
			width: 100%;
			z-index: 1090;
			left: 100%;
		}

		#searchInput {
			width: 100%;
			margin: 4px;
			border-radius: 20px;
			border: none;
			margin-left: 10px;
			outline: none;
			text-align: center;
			font-size: 10px;
			height: 22px;
		}

		#giveUp {
			letter-spacing: 1px;
			font-size: 15px;
			padding: 3px 6px 6px 10px;
			background: #CCC;
			border-radius: 31px;
			height: 27px;
		}
	</style>
</head>

<body style="background: url('teacherPage/images/blli.png') no-repeat;background-size:cover;" ng-controller='rolecontroller'>

	<div class="container-fluid" ng-controller="kzq1">
		<nav class="nav navbar navbar-default" style="margin:-5px -15px 0;min-height:40px;">
			<div class="col-xs-4">
				<img src="teacherPage/images/logo.png" alt="" style="top: 5px;;position: relative;">
			</div>
			<div class="col-xs-4"></div>
			<div class="col-xs-4">
				<div id='search' class='text-center'><span class="glyphicon glyphicon-search"></span></div>
			</div>


		</nav>
		<div class="swiper-container" style="margin:0px -15px 0;">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<a href="http://xmgc360.com"><img src="teacherPage/images/lunbo.png" width="100%" alt="first"></a>
				</div>
				<!--
				<div class="swiper-slide">
	<a href="http://www.w3school.com"><img src="teacherPage/images/lunbo2.png" alt="second"></a>
</div>
-->
				<div class="swiper-slide">
					<a href="http://www.jieminuoketang.com/"><img src="teacherPage/images/lunbo3.png" width="100%" height="100%" alt="third"></a>
				</div>
			</div>
		</div>
		<div class="row" style="margin-top:20px;">
			<div class="col-xs-3 text-center">
				<a href="teacherPage/__CWorkRes.html"><img class="img-circle" src="teacherPage/images/rsp.png" alt="作业仓库" style="height:50px;background:#5fb9af;">
					<p>作业仓库</p>
				</a>
			</div>
			<div class="col-xs-3 text-center stu" style="" data-toggle="modal" data-target="#myModal">
				<a href=""><img class="img-circle" src="teacherPage/images/noup.png" alt="未提交" style="height:50px;background:#de8f55;">
					<p>作业领取</p>
				</a>
			</div>
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header" style="padding:8px;background:#f2f1f1;">
							<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true" style="color:black;">&times;</span><span class="sr-only">Close</span></button>
							<h5 class="modal-title" id="myModalLabel">作业领取</h5>
						</div>
						<div class="modal-body text-center" style="color:black">
							<p style='margin:0 auto 10px auto;'>请输入导师布置的作业编号</p>
							<input id='wid' type="number" class="form-control text-center" style="width: 70%;left: 15%;position: relative;margin-bottom: 15px;">
							<button class="btn btn-success btn-md" ng-click='get()'>确认</button>
						</div>
					</div>
				</div>
			</div>

			<div class="col-xs-3 text-center tea">
				<a href="teacherPage/TMyWork.html"><img class="img-circle" src="teacherPage/images/up.png" alt="已发布" style="height:50px;background:#90cfc7;">
					<p>已发布</p>
				</a>
			</div>
			<div class="col-xs-3 text-center tea">
				<a href="teacherPage/TAddWork.html"><img class="img-circle" src="teacherPage/images/aw.png" alt="发布作业" style="height:50px;background:#607154;">
					<p>发布作业</p>
				</a>
			</div>
			<div class="col-xs-3 text-center stu">
				<a href="teacherPage/SMyWork.html"><img class="img-circle" src="teacherPage/images/all.png" alt="我的作业" style="height:50px;background:#2f534c;">
					<p>我的作业</p>
				</a>
			</div>
			<div class="col-xs-3 text-center">
				<a href="teacherPage/CNoteList.html"><img class="img-circle" src="teacherPage/images/news.png" alt="公告" style="height:50px;background:#687967;">
					<p>公告</p>
				</a>
			</div>
		</div>
		<div class="row">
			<div id="line" style="width:100%;height:20px;color:white;padding:0 5%;margin:15px auto;">
				<div class="line1">
					<hr />
				</div>
				<div id="line2">作业推荐</div>
				<div class="line1">
					<hr />
				</div>
			</div>
		</div>
		<div id='frash' class="row" style="margin:0;padding:0;margin-bottom: 15px;">
			<div style="color:white;" class="pull-right" ng-click="refrash()"><span class="glyphicon glyphicon-repeat"></span>&nbsp;<span>换一组</span></div>
		</div>
		<div class="row" style="margin:0 0 0 2%;">
			<div ng-repeat="(k,v) in indexWork track by k" class="col-sm-5 col-xs-5 user_fk" style="width:45%;background: url('teacherPage/images/fk.jpg') 100% 100%;height:150px;position:relative;overflow: hidden; text-overflow:ellipsis;margin:8px 2%">
				<a style="color:white;" href="teacherPage/CWorkResDetail.html?wid={{v.wid}}">
					<div style="text-align:center;word-spacing:1px;font-weight:bold;font-size:16px;width:100%;height:75px;line-height:75px;overflow:hidden;" ng-bind="v.title">
					</div>

					<div style="width:100%;height:75px;position:absolute;left:0;top:50%;background:rgba(255,255,255,0.3);z-index:20;">
						<p style="margin:10px 0 0 15px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;">作者:<i ng-bind="v.nick"></i></p>
						<p style="margin:10px 0 0 15px;">已有<i>{{v.number}}人</i>完成</p>
					</div>
				</a>
			</div>
		</div>
		<div class="row" style="margin:20px auto;">
			<div class="col-xs-3 text-center" style="border-right:1px solid white; vertical-align:middle;">
				<a href="" style="color:white;font-size:0.7em;"><span style="line-height:20px">所有作业</span></a>
			</div>
			<div class="col-xs-3 text-center" style="border-right:1px solid white;vertical-align:middle;">
				<a href="" style="color:white;font-size:0.7em;"><span style="line-height:20px">帮助支持</span></a>
			</div>
			<div class="col-xs-3 text-center" style="border-right:1px solid white;vertical-align:middle;">
				<a href="" style="color:white;font-size:0.7em;"><span style="line-height:20px">关于我们</span></a>
			</div>
			<div class="col-xs-3 text-center" style="vertical-align:middle;">
				<a href="login.html" style="color5:white;font-size:0.7em;"><span style="line-height:20px">后台管理</span></a>
			</div>
		</div>

		<div class="footer text-right">
			<small style="color:#AAA;">&copy; Char_Set 2016</small>
		</div>
	</div>
	<div id='searchPage' ng-controller="searchPageController">
		<div class="row" style="margin">
			<div class="col-xs-10" style="height:30px;">
				<input type="text" id="searchInput" placeholder="搜索作业\讨论" ng-model="myValue" ng-change="search()">
			</div>
			<div class="col-xs-2" style="height:30px;padding:0;">
				<div id='giveUp' style="">
					<span>取消</span>
				</div>
			</div>
		</div>
		<div>
			<div id='noresult' style="width:90%;text-align:center;margin-top:15px;display:none;">暂无搜索结果</div>
			<div id='result'>
				<div class="col-xs-4" style="padding:0;margin-top:10px">
					<span>作业相关：</span>
				</div>
				<div class="col-xs-4"></div>
				<div class="col-xs-4"></div>
				<div>

					<table class="table table-condensed" style="width:90%;margin-left:5%;">
						<tr ng-repeat='(k,v) in searchResult'>
							<td style="border-top:none;border-bottom:1px solid rgb(221,221,221)">{{v.title}}
								<div style="float: right;font-size: 10px;">所属课程：{{v.name}}</div>
							</td>
						</tr>
					</table>
				</div>
				<div class="col-xs-4" style="padding:0;margin-top:20px">
					<span>讨论相关：</span></div>
				<div class="col-xs-4"></div>
				<div class="col-xs-4"></div>
			</div>
		</div>
	</div>


	<div style="width:100%;" ng-include='$root.alerturl'></div>
	<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
	<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	<script src="//cdn.bootcss.com/angular.js/1.3.20/angular.min.js"></script>
	<script src="//cdn.bootcss.com/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
	<script src="index.js"></script>
	<script>
	</script>
</body>

</html>
